<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="header">
                <h2>Database entry</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="row_button">
                        <label>View Created</label>
                    </div>
                </div>
                <div class="row">
                    <div class="row_button">
                        <label>Create School</label>
                    </div>
                </div>
                <div class="row">
                    <div class="row_button">
                        <label>Create Person</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>