.navButton {
    margin: 1rem !important;
}

.home-page {
    display: flex;
    justify-content: space-around;
    margin: 3rem;
}

.canton-item {
    background: lightcoral;
    border-top: 1px solid black;
}

.MuiList-root.entry-item {
    margin-left: 20px;
}