<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="create-school.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-name">
                <h3>Create School</h3>
            </div>
            <div class="return-button">
                <label>Back</label>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="row-name">
                    <label>School Level</label>
                </div>
                <div class="row-content">
                    <input type="text" name="school-level" placeholder="primary">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Community</label>
                </div>
                <div class="row-content">
                    <select class="selector">
                        <option value="Olten (SO)">Olten(SO)</option>
                        <option value="Nice Community (BE)">Nice Community (BE)</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Street</label>
                </div>
                <div class="row-content">
                    <input type="text" name="street" placeholder="st. Lenin's">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Postal Code and City</label>
                </div>
                <div class="row-content">
                    <input type="text" name="postal-code-city" placeholder="45333, Kiev">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Website</label>
                </div>
                <div class="row-content">
                    <input type="text" name="website" placeholder="nice.school.webiste.org">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>E-mail</label>
                </div>
                <div class="row-content">
                    <input type="text" name="email" placeholder="nice.school@email.com">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>School buildings</label>
                </div>
                <div class="row-content">
                    <input type="text" name="buildings" placeholder="17, 22a, 12c, 33">
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="row">
                <div class="footer_button">
                    <label>Submit</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>