* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 50px;

    background: lightcoral;
}

.page-name {
    text-transform: uppercase;
    margin: 20px;
    flex: 5;
}

.return-button {
    padding: 20px;
    flex: 1;
    text-align: center;
}

.return-button:hover {
    background: #FAD5D5;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 100%;
}

.row {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.row-name {
    margin: 10px;
    flex: 1 1 0;
    text-align: right;
    line-height: 2;
}

.row-content {
    margin: 10px;
    flex-basis: 200px;
    flex: 3 1 0;
}

input[type=text] {
    width: 100%;
    min-height: 30px;
    border: none;
    border-bottom: 3px lightcoral solid;
}

input:focus, .selector:focus {
    background-color: #FAD5D5;
    outline: none;
}

.selector {
    width: 100%;
    min-height: 30px;
    border: none;
    border-bottom: 3px lightcoral solid;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-basis: 100%;
}

.footer_button {
    background: lightcoral;
    height: 30px;
    width: 100px;
    margin: 10px;
    line-height: 2;
    text-align: center;
    border-radius: 5px;
}

.footer_button:hover {
    background: #FAD5D5;
    cursor: pointer;
}
