<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/create-person.module.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-name">
                <h3>Create Person</h3>
            </div>
            <div class="return-button">
                <label>Back</label>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="row-name">
                    <label>First Name</label>
                </div>
                <div class="row-content">
                    <input type="text" name="first-name" placeholder="Sarah">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Second Name</label>
                </div>
                <div class="row-content">
                    <input type="text" name="second-name" placeholder="Connor">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>E-mail</label>
                </div>
                <div class="row-content">
                    <input type="text" name="email" placeholder="sarah.connor@nps.com">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Gender</label>
                </div>
                <div class="row-content">
                    <input type="text" name="gender" placeholder="female">
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Function</label>
                </div>
                <div class="row-content">
                    <select class="selector">
                        <option value="Principal">Principal</option>
                        <option value="School Principal">School Principal</option>
                        <option value="Teacher">Teacher</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>School</label>
                </div>
                <div class="row-content">
                    <select class="selector">
                        <option value="North School">North School</option>
                        <option value="South School">South School</option>
                        <option value="Eastern School">Eastern School</option>
                        <option value="Western School">Western School</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>School building</label>
                </div>
                <div class="row-content">
                    <select class="selector">
                        <option value="Some building">Some building</option>
                        <option value="Another building">Another building</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="row-name">
                    <label>Subject</label>
                </div>
                <div class="row-content">
                    <select class="selector">
                        <option value="Mathematics">Mathematics</option>
                        <option value="English">English</option>
                        <option value="Physics">Physics</option>
                        <option value="Literature">Literature</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="row">
                <div class="footer_button">
                    <label>Submit</label>
                </div>
            </div>
        </div>
    </div>
</body>
</html>